[Unit]
Description=archstaller first boot configuration
After=local-fs.target
ConditionPathExists=/var/lib/archstaller/firstboot

[Service]
Type=oneshot
ExecStart=/usr/lib/archstaller/firstboot.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=infinity
