[Unit]
Description=archstaler first boot
Requires=basic.target archstaler-firstboot.service
After=basic.target archstaler-firstboot.service
AllowIsolate=yes
