[Unit]
Description=archstaler first boot configuration
After=local-fs.target
ConditionPathExists=/var/lib/archstaler/firstboot

[Service]
Type=oneshot
ExecStart=/usr/lib/archstaler/firstboot.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=infinity
